name: Publish

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '**.md'
      - '.github/**'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push gfx803
        uses: docker/build-push-action@v3
        with:
          target: rocm-gfx803
          push: true
          tags: puzzlemoondev/rocm-gfx803:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Build and push gfx803
        uses: docker/build-push-action@v3
        with:
          target: rocm-gfx803-diff-svc
          push: true
          tags: puzzlemoondev/rocm-gfx803-diff-svc:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max